# Configuración de Odoo
ODOO_URL="https://tu-instancia.odoo.com"
ODOO_DB="tu_base_de_datos"
ODOO_USER="tu_usuario@ejemplo.com"
ODOO_PASSWORD="tu_password_aqui"

# Configuración de Ambiente (produccion / desarrollo)
APP_AMBIENTE="desarrollo"

# Valores por defecto para descargas
DEFAULT_AÑO=2026
DEFAULT_MES=1
